{% import "macros.html" as macros %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
   
</head>
<body>
    <header>
        <h1>Bienvenido a la web de recetas de comida</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('add_recipe') }}">Agregar Receta</a></li>
                <li><a href="{{ url_for('view_recipes') }}">Ver Recetas</a></li>
                <li><a href="{{ url_for('send_email') }}">Enviar Correo Electrónico</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {{ macros.light_or_dark_mode("body") }}
        <p>&copy; 2023 Aplicación de Recetas</p>
    </footer>
</body>
</html>